<section id="Projects">
    <div>
        <app-navbar></app-navbar>
    </div>
    <h2 class="text-center section-head">Projects</h2>
    <div id="Project-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12" *ngFor="let project of projects">
                    <p class="text-center overview-head"><i class="{{project.icon}}"></i>&nbsp; {{project.name}}</p>
                    <p class="overview-content">{{project.content}}</p><button (click)="load(project)" class="btn btn-outline-link btn-block slide-btn" type="button"><i class="icon ion-ios-arrow-down" style="font-size: 30px;"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div id="project-bottom">
        <app-item [project]="project"></app-item>
    </div>
</section>