<section id="About">
    <div>
        <app-navbar></app-navbar>
    </div>
    <h2 class="text-center section-head">About</h2>
    <div id="about-middle">
        <div class="container" style="max-width: 700px;">
            <div class="row">
                <div class="col-12 text-center about-img"><img src="assets/img/dev/me.png" style="width: 200px;height: 200px;"></div>
                <div class="col-12">
                    <p class="about-head">Head Developer</p>
                    <p class="about-content">Hello , I am Antony.<br>I Started this Studio for Young Aspiring Developers who can make a difference.
                    </p>
                    <p class="abb"><em>- Antony J Malakkaran ,</em><br><em>Student at Rajagiri School of Engineering And Technology</em></p>
                </div>
            </div>
        </div>
    </div>
</section>