<main>
    <!-- <app-navbar></app-navbar> -->

    <div class="row container">
        <div class="col-md-6 order-md-1 order-2">
            <div class="jumbotron bg-transparent justify-content-center ml-5">
                <p><a class="display-4"> Developers Behind the Scene. </a></p>
                <p class="lead"> Made to Share Knowledge And Help People.</p>
                <p class="lead">
                    <a class="btn btn-dark btn-lg" href="dev.html" role="button"> <i class="fab fa-dev"></i> Check It!</a>
                </p>
            </div>
        </div>
        <div class="col-md-6 order-md-2 order-1">
            <i class="fab fa-dev picicon ml-5 mr-5"></i>
        </div>
    </div>


    <h2 class="text-center section-head display-3">Developers</h2>
    <div class="container">
        <div class="row header-main">
            <div class="col-md-4 dev-img">
                <img src="./img/me.png" height="400px" width="400px">
            </div>
            <div class="col-md-6 jumbotron bg-transparent ml-5">
                <h1 class="display-4 dev-head">Head Developer</h1>
                <h2 class="lead dev-info display-5"> Hello , I am Antony. <br>I Started this Studio for Young Aspiring Developers who need help</h2>
                <h6 class="dev-name display-6"> - Antony J Malakkaran ,<br>Student at Rajagiri School of Engineering And Technology </h6>
                <p class="lead">
                    <a class="btn btn-dark bg-dark" href="dev.html" role="button"> <i class="fab fa-github"></i> Github</a>
                    <a class="btn btn-light bg-light" href="dev.html" role="button"> <i class="fab fa-dev"></i> Slack</a>
                </p>
            </div>
            <div class="row mx-auto">
                <!-- <app-dev></app-dev> -->
            </div>
        </div>
    </div>


    <!-- <app-footer></app-footer> -->
</main>