.project-head {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.project-content {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 13px;
}