<div class="container">
    <div class="row">
        <div class="col-9 project-content">
            <div class="row">
                <div class="col">
                    <p class="project-head">Software</p>
                    <p class="project-content">Python,Django,etc</p>
                </div>
                <div class="col">
                    <p class="project-head">Usage</p>
                    <p class="project-content">How to use</p>
                </div>
            </div>
        </div>
        <div class="col project-details">
            <p class="overview-head" style="font-size: 20px;"><strong>Stockify</strong></p>
            <p class="overview-content">Front End using Django Python Framework, Back end using Python and database used in SQLite<br></p>
        </div>
    </div>
</div>