<section class="d-flex flex-column justify-content-between" id="Main">
    <div id="main-top">
        <app-navbar></app-navbar>
        <h1 class="text-center" id="main-head">Lemonink</h1>
        <h2 class="text-center" id="sub-head">Simple. Elegant. Awesome.</h2>
    </div>
    <div id="main-middle">
        <img class="icon" src="../../../../assets/icons/logo.svg" alt="logo">
    </div>
    <div id="main-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-center" style="font-family: Montserrat, sans-serif;font-weight: 400;font-size: 13px;">Made to Share Knowledge And Help People.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-center overview-head" style="font-size: 20px;"><i class="fa fa-desktop"></i>&nbsp; Creative Design</p>
                    <p class="overview-content">We stay on top of the current trend and always stay ahead of modern design implement.</p>
                </div>
                <div class="col between-col">
                    <p class="text-center overview-head"><i class="fa fa-code"></i><strong>Developers</strong></p>
                    <p class="overview-content">Help Young Developers to attain there Dreams by Starting Here.</p>
                </div>
                <div class="col">
                    <p class="text-center overview-head"><i class="fa fa-smile-o"></i>&nbsp;<strong>People</strong></p>
                    <p class="overview-content">Making Free Applications For The People.</p>
                </div>
                <div class="col align-self-center"><button class="btn btn-primary btn-block text-center cta-button" type="button" [routerLink]="['/contact']">Say Hi</button></div>
            </div>
            <div class="row">
                <div class="col"><button class="btn btn-outline-link btn-block slide-btn" type="button" [routerLink]="['/project']"><i class="icon ion-ios-arrow-down" style="font-size: 30px;"></i></button></div>
            </div>
        </div>
    </div>
</section>