<section id="Members">
    <div>
        <app-navbar></app-navbar>
    </div>
    <h2 class="text-center section-head">Pateron</h2>
    <div id="about-middle">
        <div class="container">
            <div class="row">
                <div class="col-3 text-center about-img"><img class="about-img" src="assets/img/me.png"></div>
                <div class="col-9">
                    <p class="Member-head">Developer</p>
                    <p class="Member-content">Hello , I am Antony.<br>I Started this Studio for Young Aspiring Developers who need help</p>
                </div>
            </div>
        </div>
    </div>
</section>