<div class="col-md-4">
    <div class="card bg-transparent mt-4" style="width: 20rem;">
        <img class="card-img-top" src="./img/me.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text dev-head">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="card-text dev-info">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="card-text dev-name">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>