<div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-transparent pt-4">
        <a class="navbar-brand" (click)="home()">
            <img src="./assets/Brand-logo.svg">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link mr-4" (click)="home()">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-4" (click)="blog()">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-4" (click)="project()">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-4" (click)="about()">About</a>
                </li>
            </ul>
        </div>
    </nav>
</div>